html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: #000;
    color: #fff;
    position: relative;
}


body::before {
    content: "";
    position: fixed;
    inset: -20px;
    background: url("Picture/Background/body-background.png") center top / cover no-repeat;
    filter: blur(3px);
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom, rgba(125, 124, 124, 0.6) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
}


body {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.copy-link {
    color: #f98d1a;
    font-size: 110%;
}

@keyframes slowZoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    /* Zoom in slightly */
    100% {
        transform: scale(1);
    }
}

.zooming-image {
    width: 20%;
    height: auto;
    animation: slowZoom 6s ease-in-out infinite;
    transition: transform 0.3s ease;
}

.front-logo {
    margin-top: 12%;
}

.magna-agun {
    color: #f08819;
    transition: text-shadow 0.3s ease;
    cursor: copy;
}

.magna-agun:hover {
    text-shadow: 0 0 6px rgba(255, 151, 42, 0.8),
        0 0 14px rgba(255, 151, 42, 0.6),
        0 0 28px rgba(255, 151, 42, 0.4);

}

.feautured-packages {
    width: 10000%;
}